$lt-gray : #ddd;
$background-dark : #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0; 

@mixin zer-margin($pad-up-down, $pad-left-right){
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zer-margin(70px, 30px);
    background-color: $background-light;
    color: floralwhite;
    min-width: 150px;
}

.active{
    background-color: $background-moredark;
}