 <div>
 <h3>About Us</h3>
  <hr>
</div>
<div fxLayout="row"
     fxLayout.xs="column"
     fxLayout.sm="column"
     fxLayoutAlign="start start"
     fxLayoutAlign.xs="center none"
     fxLayoutAlign.sm="center none"
     fxLayoutGap="10px">
  <div fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="100%">
    <h2>Our History</h2>
    <p>Started in 2010, Ristorente con Fusion quickly established itself as a cultinary icon par execellance
      in Hong Kong, With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys
      patronage from the A-list clientele in Hong Kong. Feautring four of the best three-star Michelin Chefs
      in the world. You never know what will arrive to your plate next time yo visit us.<br><br>
      The Resturent traces its humble belonginnings to <i>The Frying Pan</i>, as successful chain
      started by our CEO, Mr Peter Pan, that featured for the first time the world's best cuisines in a pan  
    </p>
  </div>
  <div fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="100%">
    <mat-card>
      <mat-card-header>
        <h3>Facts At a Glance</h3>
      </mat-card-header>
      <mat-card-content>
        <span>Started</span><br>
        <p>---3 Feb. 2013</p>
        <span>Major Stake Holder</span><br>
        <p>---HK fine food Inc.</p>
        <span>Last Year Turover</span><br>
        <p>---{{'1250375' | currency }}</p>
        <span>Employees</span><br>
        <p>---40</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxLayout="column">
  <mat-card>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <p mat-line><b>You better cut the Pizza in four pieces because I'm  not hungry enought to eat siz</b></p>
          <p mat-line>--Yogi Berra, <i>The Wit and Wisdom of Yogi Berra, p. Pepe, Diversion Books, 2014</i></p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
